*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

li,ul{
    display: inline;
}


ul{
    
    padding-top: 10px;
}
li{
    color: violet;
    cursor: pointer;

}
li:hover{
    color: white;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.box:hover{
    background-color: black;
    color: whitesmoke;
}


.product{
    text-align: center;
    margin: 20px;

}
.box h2{
    text-align: center;
    padding: 0%;

}
.box img{
    width: 100%;
    
}
.one{
    background-color: black;
    margin-top: 20px;
}
table{
    margin-left: 40%;
    
}
.send{
    background-color: yellow;
    border-radius: 5px;
    color: black;
    display: inline-block;
    cursor: pointer;
    padding-right: 100px;
    padding-left: 100px;
}
.send:hover{
    background-color: maroon;
    color: black;
}